<header>
    <nav>
        <a href="/">Main Page</a>
        <ul>
            <li>
                <a href="/users">All_Users</a>
                <a href="/users/new">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>>